examples/n8n/ai-social-media-manager.json
{
  "name": "PostStack: AI Social Media Manager",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -400
      ],
      "parameters": {
        "color": 1,
        "width": 720,
        "height": 460,
        "content": "## Write and publish AI social media posts from trending topics with PostStack\n\n### How it works\nEvery day this workflow picks a trending topic from an RSS feed (Google Trends by default), asks OpenAI to write a short post in your brand voice (strict JSON: caption + hashtags), then publishes it through [PostStack](https://poststack.techskills.academy) - a self-hosted social media publishing and automation platform - to every channel you list: Facebook, Instagram, YouTube and more, one API. No per-seat scheduler subscription, no third-party posting service in the middle.\n\n### Setup\n1. In PostStack create an API key (**Settings → API keys**) - it needs the channels/posts scopes (or leave scopes empty for full access). API access is a PostStack Pro feature.\n2. Copy the channel ids you want to post to from **Channels** (or `GET /api/v1/channels`).\n3. Fill in **Configuration (EDIT ME)**: PostStack URL, API key, comma-separated channel ids, topic feed URL, your brand voice and a fallback image URL (most platforms require media, so every post ships with an image).\n4. Connect your OpenAI account on the **Write the Post** node.\n5. Adjust the **Daily Trigger** schedule to taste and activate.\n\n### Customization tips\nSwap the feed for your niche's RSS, an X trends scraper or a Google Sheet of ideas. Edit the system prompt in **Write the Post** to nail your voice. Want unique images per post? Chain an image-generation node before **Build Posts per Channel** and map its URL into `imageUrl`."
      }
    },
    {
      "id": "sticky-topic",
      "name": "Section: Pick a Topic",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 220,
        "content": "## Pick a Topic\nRuns on a schedule, reads the trends feed and picks the top topic of the day."
      }
    },
    {
      "id": "sticky-ai",
      "name": "Section: Write with AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 520,
        "height": 220,
        "content": "## Write with AI\nOpenAI drafts a caption + hashtags in your brand voice, returned as strict JSON."
      }
    },
    {
      "id": "sticky-publish",
      "name": "Section: Publish via PostStack",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1420,
        "height": 220,
        "content": "## Publish via PostStack\nResolves your channels, creates one post per channel and publishes each - all through the PostStack REST API."
      }
    },
    {
      "id": "trigger-1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "notes": "Runs once a day at 09:00. Adjust to your posting rhythm."
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "postStackUrl",
              "value": "https://your-poststack.example.com",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "apiKey",
              "value": "rs_live_your-api-key",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "channelIds",
              "value": "channel-uuid-1, channel-uuid-2",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "topicFeedUrl",
              "value": "https://trends.google.com/trending/rss?geo=US",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "brandVoice",
              "value": "You write for a practical, no-hype tech brand. Short sentences. Concrete takeaways. One emoji max.",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "imageUrl",
              "value": "https://example.com/your-brand-card.png",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "channelIds: comma-separated ids from PostStack -> Channels. imageUrl: fallback image - most platforms require media on a post."
    },
    {
      "id": "rss-1",
      "name": "Fetch Trending Topics",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "url": "={{ $('Configuration (EDIT ME)').item.json.topicFeedUrl }}",
        "options": {}
      }
    },
    {
      "id": "pick-1",
      "name": "Pick a Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) throw new Error('The topic feed returned no items');\nconst top = items[0].json;\n\n// Google Trends carries an item picture; other feeds may not - Build Posts falls back to config imageUrl.\nconst picture = top['ht:picture'] || top['media:content'] || null;\n\nreturn [{ json: {\n  topic: top.title,\n  context: (top.contentSnippet || top.content || '').slice(0, 500),\n  link: top.link || '',\n  picture,\n} }];"
      },
      "notes": "Takes the top feed item. Swap for a random pick or a loop over the top N."
    },
    {
      "id": "ai-1",
      "name": "Write the Post",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        500,
        400
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ 'You are a social media copywriter. ' + $('Configuration (EDIT ME)').item.json.brandVoice + ' Reply with STRICT JSON only, no markdown fences: {\"caption\": \"post text, max 500 chars, no hashtags inside\", \"hashtags\": \"#three #relevant #tags\"}' }}"
            },
            {
              "content": "=Write a social media post about this trending topic: {{ $json.topic }}\n\nContext: {{ $json.context }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Connect your OpenAI credentials here. Any chat model works - swap modelId to taste."
    },
    {
      "id": "parse-1",
      "name": "Parse the Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "jsCode": "const out = $input.first().json;\n// The OpenAI node returns { message: { content } }; older/simplified shapes differ - handle them all.\nlet text = (out.message && out.message.content) || out.output || out.text || (out.choices && out.choices[0] && out.choices[0].message.content) || '';\nif (typeof text !== 'string') text = JSON.stringify(text);\n\nlet caption = '';\nlet hashtags = '';\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(match ? match[0] : text);\n  caption = String(parsed.caption || '').trim();\n  hashtags = String(parsed.hashtags || '').trim();\n} catch (e) {\n  caption = text.trim();\n}\nif (!caption) throw new Error('The model returned no caption');\n\nconst topic = $('Pick a Topic').first().json;\nreturn [{ json: { caption, hashtags, picture: topic.picture } }];"
      }
    },
    {
      "id": "channels-1",
      "name": "Get Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configuration (EDIT ME)').item.json.postStackUrl }}/api/v1/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "plan-1",
      "name": "Build Posts per Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "jsCode": "const config = $('Configuration (EDIT ME)').first().json;\nconst draft = $('Parse the Draft').first().json;\nconst channels = $input.first().json.data || [];\n\nconst baseUrl = String(config.postStackUrl || '').replace(/\\/+$/, '');\nconst wanted = String(config.channelIds || '').split(',').map((s) => s.trim()).filter(Boolean);\nif (!wanted.length) throw new Error('channelIds in Configuration is empty');\n\nconst byId = new Map(channels.map((c) => [c.id, c]));\nreturn wanted.map((id) => {\n  const channel = byId.get(id);\n  if (!channel) throw new Error(`Channel ${id} not found in PostStack - check channelIds`);\n  return { json: {\n    channelId: channel.id,\n    platform: channel.platform,\n    channelName: channel.display_name,\n    caption: draft.caption,\n    hashtags: draft.hashtags,\n    imageUrl: draft.picture || config.imageUrl,\n    createUrl: `${baseUrl}/api/v1/posts`,\n  } };\n});"
      },
      "notes": "One output item per target channel, with the platform resolved from the PostStack API."
    },
    {
      "id": "create-1",
      "name": "Create Post in PostStack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.createUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: $json.platform, description: $json.caption, hashtags: $json.hashtags, mediaUrl: $json.imageUrl }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "prep-1",
      "name": "Prepare Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ],
      "parameters": {
        "jsCode": "const config = $('Configuration (EDIT ME)').first().json;\nconst baseUrl = String(config.postStackUrl || '').replace(/\\/+$/, '');\n\nreturn $input.all().map((item, i) => {\n  const postId = item.json.data && item.json.data.id;\n  if (!postId) throw new Error('Post creation did not return an id');\n  const plan = $('Build Posts per Channel').all()[i].json;\n  return { json: {\n    publishUrl: `${baseUrl}/api/v1/posts/${postId}/publish`,\n    channelId: plan.channelId,\n    channelName: plan.channelName,\n  } };\n});"
      },
      "notes": "Pairs each created post with its target channel. URLs built here - n8n template validation dislikes multi-part expressions in URL fields."
    },
    {
      "id": "publish-1",
      "name": "Publish Now",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.publishUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channelId: $json.channelId, when: 'now' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "notes": "Change when to an ISO timestamp to schedule instead of publishing immediately. Pair with the post-alerts workflow to get notified about the outcome."
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Fetch Trending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trending Topics": {
      "main": [
        [
          {
            "node": "Pick a Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick a Topic": {
      "main": [
        [
          {
            "node": "Write the Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write the Post": {
      "main": [
        [
          {
            "node": "Parse the Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the Draft": {
      "main": [
        [
          {
            "node": "Get Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channels": {
      "main": [
        [
          {
            "node": "Build Posts per Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Posts per Channel": {
      "main": [
        [
          {
            "node": "Create Post in PostStack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post in PostStack": {
      "main": [
        [
          {
            "node": "Prepare Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish": {
      "main": [
        [
          {
            "node": "Publish Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "poststack"
  }
}
