examples/n8n/drive-videos-to-social-PL.json
{
  "name": "PostStack: Wideo z Drive → posty social media",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -400
      ],
      "parameters": {
        "color": 1,
        "width": 720,
        "height": 460,
        "content": "## Publikuj nowe wideo z Google Drive w social mediach z podpisem od AI, przez PostStacka\n\n### Jak to działa\nWrzucasz gotowe wideo do folderu na Drive i odchodzisz od biurka: trigger łapie nowy plik, workflow udostępnia go publicznym linkiem (PostStack pobiera plik raz, od razu), OpenAI pisze caption + hashtagi z nazwy pliku w Twoim brand voice, a wideo jest publikowane przez [PostStacka](https://poststack.techskills.academy) - self-hostowaną platformę publikacji social media - na każdy wskazany kanał, jednym API.\n\n### Konfiguracja\n1. W PostStacku utwórz klucz API (**Settings → API keys**). Dostęp API to funkcja PostStack Pro.\n2. Skopiuj id kanałów z **Channels** (kanały wspierające wideo: Facebook, Instagram Reels).\n3. Uzupełnij **Configuration (EDIT ME)**: adres PostStacka, klucz API, id kanałów po przecinku i brand voice.\n4. Podłącz konto Google w **Watch the Folder** i **Share the Video**, wskaż obserwowany folder, i podłącz OpenAI w **Write the Caption**.\n5. Aktywuj - i nazywaj pliki wideo opisowo (caption powstaje z nazwy pliku).\n\n### Możliwości modyfikacji\nChcesz bogatsze podpisy? Wepnij transkrypcję (OpenAI Whisper) między **Share the Video** a **Write the Caption** i podaj transkrypt do promptu. Krok udostępniania nadaje dostęp anyone-with-link - podmień na własny hosting, jeśli to nieakceptowalne."
      }
    },
    {
      "id": "sticky-catch",
      "name": "Section: Catch & Share",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Złapanie i udostępnienie\nŁapie nowy plik w folderze i czyni go pobieralnym przez publiczny link."
      }
    },
    {
      "id": "sticky-ai",
      "name": "Section: Write with AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Pisanie z AI\nOpenAI pisze caption + hashtagi z nazwy pliku, w Twoim brand voice."
      }
    },
    {
      "id": "sticky-publish",
      "name": "Section: Publish via PostStack",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1420,
        "height": 220,
        "content": "## Publikacja przez PostStacka\nRozwiązuje Twoje kanały, tworzy jeden post wideo na kanał i publikuje każdy."
      }
    },
    {
      "id": "trigger-1",
      "name": "Watch the Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "event": "fileCreated",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/drive/folders/your-folder-id"
        },
        "options": {}
      },
      "notes": "Point at the Drive folder where finished videos land. Connect your Google credentials here."
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "postStackUrl",
              "value": "https://your-poststack.example.com",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "apiKey",
              "value": "rs_live_your-api-key",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "channelIds",
              "value": "channel-uuid-1, channel-uuid-2",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "brandVoice",
              "value": "You write for a practical, no-hype tech brand. Short sentences. One emoji max.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "channelIds: comma-separated ids from PostStack -> Channels (video-capable)."
    },
    {
      "id": "share-1",
      "name": "Share the Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "resource": "file",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Watch the Folder').item.json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "notes": "Grants anyone-with-link read access so PostStack can ingest the file. Revoke later if you like - PostStack stores its own copy at publish time."
    },
    {
      "id": "ai-1",
      "name": "Write the Caption",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        200,
        400
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "={{ 'You are a social media copywriter. ' + $('Configuration (EDIT ME)').item.json.brandVoice + ' Reply with STRICT JSON only, no markdown fences: {\"caption\": \"post text, max 400 chars, no hashtags inside\", \"hashtags\": \"#three #relevant #tags\"}' }}"
            },
            {
              "content": "=Write a social media caption for a video file named: {{ $('Watch the Folder').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Connect your OpenAI credentials. For richer captions, chain a Whisper transcription step and feed the transcript in."
    },
    {
      "id": "parse-1",
      "name": "Parse the Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "parameters": {
        "jsCode": "const out = $input.first().json;\nlet text = (out.message && out.message.content) || out.output || out.text || (out.choices && out.choices[0] && out.choices[0].message.content) || '';\nif (typeof text !== 'string') text = JSON.stringify(text);\n\nlet caption = '';\nlet hashtags = '';\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(match ? match[0] : text);\n  caption = String(parsed.caption || '').trim();\n  hashtags = String(parsed.hashtags || '').trim();\n} catch (e) {\n  caption = text.trim();\n}\nif (!caption) throw new Error('The model returned no caption');\n\nconst file = $('Watch the Folder').first().json;\nreturn [{ json: { caption, hashtags, videoUrl: `https://drive.google.com/uc?export=download&id=${file.id}` } }];"
      },
      "notes": "The uc?export=download link serves the raw file for public files - what PostStack's media ingest needs."
    },
    {
      "id": "channels-1",
      "name": "Get Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configuration (EDIT ME)').item.json.postStackUrl }}/api/v1/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "plan-1",
      "name": "Build Posts per Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "jsCode": "const config = $('Configuration (EDIT ME)').first().json;\nconst draft = $('Parse the Draft').first().json;\nconst channels = $input.first().json.data || [];\n\nconst baseUrl = String(config.postStackUrl || '').replace(/\\/+$/, '');\nconst wanted = String(config.channelIds || '').split(',').map((s) => s.trim()).filter(Boolean);\nif (!wanted.length) throw new Error('channelIds in Configuration is empty');\n\nconst byId = new Map(channels.map((c) => [c.id, c]));\nreturn wanted.map((id) => {\n  const channel = byId.get(id);\n  if (!channel) throw new Error(`Channel ${id} not found in PostStack - check channelIds`);\n  return { json: {\n    channelId: channel.id,\n    platform: channel.platform,\n    caption: draft.caption,\n    hashtags: draft.hashtags,\n    videoUrl: draft.videoUrl,\n    createUrl: `${baseUrl}/api/v1/posts`,\n  } };\n});"
      }
    },
    {
      "id": "create-1",
      "name": "Create Post in PostStack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.createUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: $json.platform, description: $json.caption, hashtags: $json.hashtags, videoUrl: $json.videoUrl }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "notes": "videoUrl instead of mediaUrl - PostStack ingests and stores the video at create/publish time."
    },
    {
      "id": "prep-1",
      "name": "Prepare Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ],
      "parameters": {
        "jsCode": "const config = $('Configuration (EDIT ME)').first().json;\nconst baseUrl = String(config.postStackUrl || '').replace(/\\/+$/, '');\n\nreturn $input.all().map((item, i) => {\n  const postId = item.json.data && item.json.data.id;\n  if (!postId) throw new Error('Post creation did not return an id');\n  const plan = $('Build Posts per Channel').all()[i].json;\n  return { json: {\n    publishUrl: `${baseUrl}/api/v1/posts/${postId}/publish`,\n    channelId: plan.channelId,\n    channelName: plan.channelName,\n  } };\n});"
      },
      "notes": "Pairs each created post with its target channel. URLs built here - n8n template validation dislikes multi-part expressions in URL fields."
    },
    {
      "id": "publish-1",
      "name": "Publish Now",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.publishUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channelId: $json.channelId, when: 'now' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "notes": "Change when to an ISO timestamp to schedule instead of publishing immediately. Pair with the post-alerts workflow to get notified about the outcome."
    }
  ],
  "connections": {
    "Watch the Folder": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Share the Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share the Video": {
      "main": [
        [
          {
            "node": "Write the Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write the Caption": {
      "main": [
        [
          {
            "node": "Parse the Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse the Draft": {
      "main": [
        [
          {
            "node": "Get Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channels": {
      "main": [
        [
          {
            "node": "Build Posts per Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Posts per Channel": {
      "main": [
        [
          {
            "node": "Create Post in PostStack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post in PostStack": {
      "main": [
        [
          {
            "node": "Prepare Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish": {
      "main": [
        [
          {
            "node": "Publish Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "poststack"
  }
}
