examples/n8n/post-alerts-to-chat.json
{
  "name": "PostStack: Post Alerts → Slack/Discord",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -380
      ],
      "parameters": {
        "color": 1,
        "width": 700,
        "height": 400,
        "content": "## Get Slack alerts when PostStack publishes, fails or holds a post\n\n### How it works\n[PostStack](https://poststack.techskills.academy) - a self-hosted social media publishing and automation platform - emits a signed webhook for every post lifecycle event. This workflow verifies the `X-PostStack-Signature` HMAC header, routes `post.published`, `post.failed` and `post.held` to dedicated formatters, and pushes a readable alert to your chat via an incoming webhook. Know a scheduled post silently failed the moment it happens - not next morning.\n\n### Setup\n1. In PostStack open **Webhooks → Outbound webhooks**, click **Add endpoint** with this workflow's Production URL (the **PostStack Webhook** node) and copy the signing secret. Outbound webhooks are a PostStack Pro feature.\n2. Create an incoming webhook in Slack (or Discord - append `/slack` to its webhook URL, or Mattermost/Rocket.Chat) and paste it into **Configuration (EDIT ME)** as `chatWebhookUrl`.\n3. Fill in the remaining **Configuration (EDIT ME)** fields: PostStack URL and the webhook secret.\n4. See the red note on **Verify Signature** for one required n8n environment setting.\n\n### Customization tips\nEdit the three **Format** Code nodes to change the wording, add channel links or mention people on failures. Add a 4th Switch rule for `post.unknown` if you want indeterminate deliveries too."
      }
    },
    {
      "id": "sticky-receive",
      "name": "Section: Receive & Verify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 380,
        "content": "## Receive & Verify\nAccepts the PostStack webhook and checks its HMAC signature before trusting the payload."
      }
    },
    {
      "id": "sticky-route",
      "name": "Section: Acknowledge & Route",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 520,
        "height": 220,
        "content": "## Acknowledge & Route\nResponds immediately, then routes each post lifecycle event to its own formatter."
      }
    },
    {
      "id": "sticky-alert",
      "name": "Section: Format & Send",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        180
      ],
      "parameters": {
        "color": 7,
        "width": 520,
        "height": 540,
        "content": "## Format & Send\nEach event type gets a readable one-liner, then a single chat node delivers it."
      }
    },
    {
      "id": "sticky-crypto",
      "name": "Warning: crypto module",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -130,
        370
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 160,
        "content": "## Node setting required\nThis Code node needs `require('crypto')`. Self-hosted n8n: set `NODE_FUNCTION_ALLOW_BUILTIN=crypto` in the n8n environment, then restart."
      }
    },
    {
      "id": "webhook-1",
      "name": "PostStack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "path": "poststack-post-alerts",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "notes": "Paste this node's Production URL into PostStack → Webhooks → Outbound webhooks → Add endpoint.",
      "onError": "continueRegularOutput"
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "postStackUrl",
              "value": "https://your-poststack.example.com",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "webhookSecret",
              "value": "paste-the-endpoint-signing-secret",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "chatWebhookUrl",
              "value": "https://hooks.slack.com/services/your/webhook/url",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "webhookSecret is the endpoint's signing secret from PostStack → Webhooks → Outbound webhooks. chatWebhookUrl accepts any incoming-webhook chat URL (Slack shown; Discord: append /slack to its webhook URL)."
    },
    {
      "id": "verify-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst config = $('Configuration (EDIT ME)').first().json;\nconst item = $input.first();\n\nconst header = (item.json.headers && item.json.headers['x-poststack-signature']) || '';\nconst rawBody = item.binary && item.binary.data\n  ? Buffer.from(item.binary.data.data, 'base64').toString('utf8')\n  : JSON.stringify(item.json.body || {});\n\n// Header format (Stripe/Svix style): t=<unix>,v1=<hex>[,v1=<hex2 during secret rotation>]\nlet t = null;\nconst sigs = [];\nfor (const part of header.split(',')) {\n  const eq = part.indexOf('=');\n  if (eq === -1) continue;\n  const key = part.slice(0, eq).trim();\n  const value = part.slice(eq + 1).trim();\n  if (key === 't') t = value;\n  else if (key === 'v1') sigs.push(value);\n}\n\nlet valid = false;\nif (t && sigs.length && config.webhookSecret) {\n  const expected = crypto.createHmac('sha256', config.webhookSecret).update(`${t}.${rawBody}`).digest('hex');\n  const withinTolerance = Math.abs(Math.floor(Date.now() / 1000) - Number(t)) <= 300;\n  valid = withinTolerance && sigs.some((v1) =>\n    v1.length === expected.length && crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(v1)));\n}\n\nreturn [{ json: { valid, body: JSON.parse(rawBody) } }];"
      }
    },
    {
      "id": "if-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-401",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"invalid signature\"}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "notes": "Acknowledge before processing - PostStack retries deliveries that don't get a 2xx within 10s."
    },
    {
      "id": "switch-route",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "post.published",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "published"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "post.failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "post.held",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "held"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "notes": "post.unknown and non-post events are dropped. Add a 4th rule for post.unknown if you want those too."
    },
    {
      "id": "fmt-published",
      "name": "Format: Published",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        240
      ],
      "parameters": {
        "jsCode": "const e = $input.first().json.body;\nconst platform = e.data.platform || 'unknown platform';\nconst handle = e.data.providerHandle ? ` (id ${e.data.providerHandle})` : '';\nreturn [{ json: { text: `✅ Post published on ${platform}${handle} at ${e.created_at}` } }];"
      }
    },
    {
      "id": "fmt-failed",
      "name": "Format: Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "jsCode": "const e = $input.first().json.body;\nconst config = $('Configuration (EDIT ME)').first().json;\nconst url = String(config.postStackUrl || '').replace(/\\/+$/, '');\nreturn [{ json: { text: `🔴 Post FAILED: ${e.data.error || 'unknown error'} - check ${url}/queue` } }];"
      }
    },
    {
      "id": "fmt-held",
      "name": "Format: Held",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        560
      ],
      "parameters": {
        "jsCode": "const e = $input.first().json.body;\nconst config = $('Configuration (EDIT ME)').first().json;\nconst url = String(config.postStackUrl || '').replace(/\\/+$/, '');\nconst platform = e.data.platform || 'unknown platform';\nreturn [{ json: { text: `🟡 Post HELD on ${platform}: ${e.data.reason || 'needs attention'} - reconnect the channel at ${url}/channels` } }];"
      }
    },
    {
      "id": "send-chat",
      "name": "Send Chat Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration (EDIT ME)').item.json.chatWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Slack incoming webhook shown. Works with anything that accepts {\"text\": ...} - Discord (append /slack to its webhook URL), Mattermost, Rocket.Chat. For Telegram or ntfy swap this node."
    }
  ],
  "connections": {
    "PostStack Webhook": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "Format: Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format: Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format: Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Published": {
      "main": [
        [
          {
            "node": "Send Chat Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Failed": {
      "main": [
        [
          {
            "node": "Send Chat Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Held": {
      "main": [
        [
          {
            "node": "Send Chat Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "poststack"
  }
}
