examples/n8n/sheets-content-calendar-PL.json
{
  "name": "PostStack: Kalendarz treści w Google Sheets",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -420
      ],
      "parameters": {
        "color": 1,
        "width": 720,
        "height": 480,
        "content": "## Planuj posty social media z kalendarza treści w Google Sheets, przez PostStacka\n\n### Jak to działa\nTwój kalendarz treści żyje w zwykłym arkuszu Google: `Date | Text | Hashtags | ImageURL | Channels | Status | PostIDs | Error`. Co godzinę ten workflow czyta wiersze oznaczone `ready`, rozwiązuje każdy kanał (po id, @username albo nazwie) przez REST API [PostStacka](https://poststack.techskills.academy), tworzy jeden post na wiersz+kanał i planuje go na datę z wiersza (przeszłe daty publikują się od razu). Każdy wiersz jest potem odznaczany jako `scheduled` z id postów - albo `error` z powodem - więc nic nie zostanie zaplanowane dwa razy. PostStack to self-hostowana platforma publikacji: Facebook, Instagram, YouTube i inne, jedno API, bez abonamentu za scheduler.\n\n### Konfiguracja\n1. Utwórz zakładkę arkusza z powyższym wierszem nagłówkowym; wypełnij kilka wierszy i ustaw ich Status na `ready` (Date w ISO, np. 2026-07-15 09:00, Channels po przecinku).\n2. W PostStacku utwórz klucz API (**Settings → API keys**). Dostęp API to funkcja PostStack Pro.\n3. Uzupełnij **Configuration (EDIT ME)**: adres PostStacka, klucz API, URL arkusza i nazwę zakładki.\n4. Podłącz konto Google w obu node'ach Google Sheets i aktywuj.\n\n### Możliwości modyfikacji\nZmień interwał na **Hourly Trigger**. Dodaj kolumny (np. tekst per platforma) i zmapuj je w **Build Posts per Channel**. Połącz z workflow alertów o postach, żeby dostać ping na Slacku, gdy zaplanowany post faktycznie wyjdzie."
      }
    },
    {
      "id": "sticky-read",
      "name": "Section: Read the Calendar",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Odczyt kalendarza\nOdpala się co godzinę i pobiera każdy wiersz ze Statusem `ready`."
      }
    },
    {
      "id": "sticky-create",
      "name": "Section: Resolve & Create",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Rozwiązanie i utworzenie\nDopasowuje kanały z wiersza do API PostStacka i tworzy jeden post na wiersz + kanał."
      }
    },
    {
      "id": "sticky-write",
      "name": "Section: Schedule & Write Back",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1420,
        "height": 220,
        "content": "## Planowanie i zapis zwrotny\nPlanuje każdy post na datę z wiersza, potem oznacza wiersz `scheduled` (z id postów) albo `error` - ponowne przebiegi nigdy nie dublują."
      }
    },
    {
      "id": "trigger-1",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "postStackUrl",
              "value": "https://your-poststack.example.com",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "apiKey",
              "value": "rs_live_your-api-key",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "googleSheetUrl",
              "value": "https://docs.google.com/spreadsheets/d/your-sheet-id/edit",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "sheetTabName",
              "value": "Calendar",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "Sheet tab header row: Date | Text | Hashtags | ImageURL | Channels | Status | PostIDs | Error"
    },
    {
      "id": "sheets-read",
      "name": "Get Ready Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Configuration (EDIT ME)').item.json.googleSheetUrl }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Configuration (EDIT ME)').item.json.sheetTabName }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "ready"
            }
          ]
        },
        "options": {}
      },
      "notes": "Only rows with Status = ready flow through. row_number is kept for the write-back."
    },
    {
      "id": "channels-1",
      "name": "Get Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configuration (EDIT ME)').item.json.postStackUrl }}/api/v1/channels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "plan-1",
      "name": "Build Posts per Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "parameters": {
        "jsCode": "const config = $('Configuration (EDIT ME)').first().json;\nconst rows = $('Get Ready Rows').all();\nconst channels = $input.first().json.data || [];\nconst baseUrl = String(config.postStackUrl || '').replace(/\\/+$/, '');\n\nif (!rows.length) return [];\n\nconst find = (token) => {\n  const t = String(token).trim().toLowerCase().replace(/^@/, '');\n  return channels.find((c) => c.id === token.trim()\n    || String(c.username || '').toLowerCase() === t\n    || String(c.display_name || '').toLowerCase() === t);\n};\n\nconst out = [];\nfor (const row of rows) {\n  const r = row.json;\n  const tokens = String(r.Channels || '').split(',').map((s) => s.trim()).filter(Boolean);\n  for (const token of tokens) {\n    const channel = find(token);\n    out.push({ json: {\n      rowNumber: r.row_number,\n      channelToken: token,\n      channelId: channel ? channel.id : null,\n      platform: channel ? channel.platform : null,\n      error: channel ? null : `Channel \"${token}\" not found in PostStack`,\n      text: r.Text || '',\n      hashtags: r.Hashtags || '',\n      imageUrl: r.ImageURL || '',\n      date: r.Date || '',\n      createUrl: `${baseUrl}/api/v1/posts`,\n    } });\n  }\n}\nreturn out;"
      },
      "notes": "Channels column accepts channel ids, @usernames or display names - resolved against GET /api/v1/channels."
    },
    {
      "id": "create-1",
      "name": "Create Post in PostStack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.createUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: $json.platform || 'unknown', description: $json.text, hashtags: $json.hashtags, mediaUrl: $json.imageUrl }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "notes": "fullResponse + neverError: a failed row lands in the Error column instead of killing the whole run."
    },
    {
      "id": "prep-1",
      "name": "Prepare Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "jsCode": "const config = $('Configuration (EDIT ME)').first().json;\nconst baseUrl = String(config.postStackUrl || '').replace(/\\/+$/, '');\nconst plans = $('Build Posts per Channel').all();\n\nreturn $input.all().map((item, i) => {\n  const plan = plans[i].json;\n  const res = item.json;\n  const created = res.statusCode >= 200 && res.statusCode < 300 && res.body && res.body.data;\n  const postId = created ? res.body.data.id : null;\n  const error = plan.error || (created ? null : `create failed: HTTP ${res.statusCode} ${JSON.stringify(res.body && res.body.error || '').slice(0, 200)}`);\n  const when = plan.date && new Date(plan.date) > new Date() ? new Date(plan.date).toISOString() : 'now';\n  return { json: {\n    rowNumber: plan.rowNumber,\n    channelId: plan.channelId,\n    postId,\n    error,\n    when,\n    publishUrl: postId ? `${baseUrl}/api/v1/posts/${postId}/publish` : null,\n  } };\n});"
      },
      "notes": "Future Date -> scheduled in PostStack for that moment; past/empty Date -> published now."
    },
    {
      "id": "publish-1",
      "name": "Schedule or Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.publishUrl || ($('Configuration (EDIT ME)').item.json.postStackUrl + '/api/v1/posts/none/publish') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channelId: $json.channelId, when: $json.when }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "notes": "Rows that already failed carry a placeholder URL and are marked error in the write-back."
    },
    {
      "id": "collect-1",
      "name": "Collect Results per Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "jsCode": "const preps = $('Prepare Publish').all();\nconst rows = new Map();\n\n$input.all().forEach((item, i) => {\n  const prep = preps[i].json;\n  const res = item.json;\n  const published = prep.postId && res.statusCode >= 200 && res.statusCode < 300;\n  const error = prep.error || (published ? null : `publish failed: HTTP ${res.statusCode} ${JSON.stringify(res.body && res.body.error || '').slice(0, 200)}`);\n  const agg = rows.get(prep.rowNumber) || { postIds: [], errors: [] };\n  if (published) agg.postIds.push(prep.postId);\n  if (error) agg.errors.push(error);\n  rows.set(prep.rowNumber, agg);\n});\n\nreturn [...rows.entries()].map(([rowNumber, agg]) => ({ json: {\n  row_number: rowNumber,\n  Status: agg.errors.length ? 'error' : 'scheduled',\n  PostIDs: agg.postIds.join(', '),\n  Error: agg.errors.join(' | '),\n} }));"
      }
    },
    {
      "id": "sheets-update",
      "name": "Update Row Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        400
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $('Configuration (EDIT ME)').item.json.googleSheetUrl }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Configuration (EDIT ME)').item.json.sheetTabName }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "={{ $json.Status }}",
            "PostIDs": "={{ $json.PostIDs }}",
            "Error": "={{ $json.Error }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": []
        },
        "options": {}
      },
      "notes": "Uses the update operation matching on row_number, so the exact row read earlier is updated in place. (Old n8n-mcp validators flag range/values on this op - false positive, verified live.)"
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Get Ready Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Rows": {
      "main": [
        [
          {
            "node": "Get Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channels": {
      "main": [
        [
          {
            "node": "Build Posts per Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Posts per Channel": {
      "main": [
        [
          {
            "node": "Create Post in PostStack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post in PostStack": {
      "main": [
        [
          {
            "node": "Prepare Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publish": {
      "main": [
        [
          {
            "node": "Schedule or Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule or Publish": {
      "main": [
        [
          {
            "node": "Collect Results per Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results per Row": {
      "main": [
        [
          {
            "node": "Update Row Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "poststack"
  }
}
